# [dev | pro | test]
ENV=dev

API_SECRET=123
SECRET_KEY=123
ALGORITHM=HS512

CORS_ORIGIN=* # PRO -> ex: https://frontend-app
PORT=3000

MONGODB_HOST=mongodb # ENV -> PRO -> ex: cy0nnnn.mongo.net
MONGODB_PORT=27017
MONGODB_USERNAME=mongo
MONGODB_PASSWORD=password
MONGODB_DATABASE=DEVELOPMENT

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password