# [dev | pro | test]
ENV=dev

# [SECRETS]
API_SECRET_KEY=
SECRET_KEY=
ALGORITHM=HS512

# [HOSTS - SEPARATE HOSTS BY -> ,]
ALLOWED_HOSTS=http://localhost
PORT=3000

# [DATABASE CREDENTIALS]
MONGODB_HOST=mongodb # ENV -> PRO -> ex: cy0nnnn.mongo.net
MONGODB_PORT=27017
MONGODB_USERNAME=mongo
MONGODB_PASSWORD=password
MONGODB_DATABASE=DEVELOPMENT

# [REDIS CREDENTIALS]
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password