# [dev | pro | test]
ENV=dev


# [SECRETS]
SECRET_KEY=''


# [HOSTS - SEPARATE HOSTS BY -> ,]
ALLOWED_HOSTS=http://localhost
PORT=5000


ALGORITHM=HS512


# [CLOUD STORAGE]
API_KEY=''
API_SECRET=''
CLOUD_NAME=''
FOLDER_SPRITES='RBI/sprites/'


# [DATABASE CREDENTIALS]
MONGO_USERNAME=''
MONGO_PASSWORD=''
MONGO_HOST=''
MONGO_COLLECTION=PRODUCTION